@import '~bootstrap/dist/css/bootstrap.min.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider {
    /* bottom:50%;  *//* was 1.5vh */
    bottom: 1.5vh;
    padding: 20px 0;
    width: 100%; /* was 104vh */
    position: fixed;
    justify-items: center;
    align-content: center;
} 

/* https://stackoverflow.com/questions/58057900/how-can-i-display-thumb-label-all-the-time-for-material-slider */
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

