<canvas #globeCanvas (window:resize)="onWindowResize()"></canvas>
<!-- (window:resize)="onWindowResize()"-->

<div id = "displayLiteracyRates" [style.display]= "displayType" [style.top] = "top"  [style.left] = "left">
    Literacy Rates
    <div id = "displayCountryName">
        Country : {{countryName}}
        Literacy Rate : {{literacyRate}}
    </div>
</div>


<app-tutorial></app-tutorial>
 

<!-- <app-slider></app-slider>
 -->

<div id = "sliderBox">
    <mat-slider thumbLabel  [(ngModel)] = "currentYear" min="1475" max = "2015"  (ngModelChange)="onSlide()"></mat-slider>
</div> 

<!-- don't need this anymore!
<div id = "currentYearBox">
    {{currentYear}} 
</div>  -->

<!-- (slideend)="onSlide()" (pointerup)="onSlide()" -->

