#enterGlobe {
    color : rgb(255, 255, 255);
   /*  justify-items: center;
    align-content: center; */
    text-align: center;
    display: block;
/*     flex-direction: column;
 */    border-style: inset;
    border-width: 5px;
    border-radius: 5%;
    border-color: 0x00ff00;
    background-color: black;
    opacity: 80%;

    position: relative;
    margin: 0 auto;
   /*  -ms-transform: translateY(-50%);
    transform: translateY(-50%);    */

    bottom: 0vh;
    width: 15vw;
    height: 10vh;
    font-size: 9pt;
    font-style: normal;
}

#bookOpen {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}