

<div id = "bookContainer">

     <video onloadedmetadata="this.muted = true" autoplay muted id = "bookOpen">
        <source src = "../../assets/images/video/BookAnimation2.mp4" type ="video/mp4"> 
    </video>

</div>
<!-- 
<video onloadedmetadata="this.muted = true" autoplay muted id = "bookOpen">

    <source src = "../../assets/images/video/BookAnimation2.mp4" type ="video/mp4"> 

</video>
 -->
 
<div id = "enterGlobe">
    <nav>
        <a routerLink="/globe">
            <h3>Click here to check out our globe!</h3></a>
    </nav>
</div>

 