
#sliderBox {
    justify-items: center;
    align-content: center;
    /*display: none; changed from flex*/
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-radius: 5%;
    border-color: 0x00ff00;
    background-color: transparent;
    opacity: 80%;
    position: absolute;
    right: 52vh;
    bottom: 1vh; 
    width: 50vw;
    height: 5vh;
    font-size: 9pt;
    font-style: normal;
}

#currentYearBox {
    justify-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-radius: 5%;
    border-color: 0x00ff00;
    background-color: transparent;
    opacity: 80%;
    position: absolute;
    right: 100vh;
    bottom: 5vh; 
    width: 5vw;
    height: 5vh;
    font-size: 9pt;
    font-style: normal;
    color: white;
}